* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #FCF6B1FF;
}

button {
  height: 70px;
  width: 80px;
  font-size: larger;
  background-color: #A9E5BBFF;
  border-radius: 10px;
  box-shadow: 20px;
  padding: 2px
}

img {
  height: auto;
  width: 60px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.equal {
  background-color: #F7B32BFF;
}

.operator {
  background-color: #FCF6B1FF;
}
#calculator {
  border: 2px solid rgba(0, 0, 0, 0.356);
  width: 370px;
  height: fit-content;
  padding: 20px;
  background-color: rgb(238, 248, 250);
  border-radius: 20px;
}

#display {
  border: 2px solid rgba(29, 48, 33, 0.432);
  border-radius: 10px;
  min-height: 75px;
  padding: 5px;
  background-color: rgb(104, 190, 122);
}

#prevDisplay,
#currentDisplay {
  background-color: rgb(104, 190, 122);
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  font-size: xx-large;
}

#prevDisplay {
    font-size: large;
    height: 25px;
}

#topDisplay {
  display: flex;
  justify-content: flex-end;
}

#operDisplay {
  font-size: larger;
}

#currentDisplay {
    height: 40px;
}

#clear {
  background-color: #E3170AFF;
}

#delete {
  background-color: rgb(250, 73, 61);
}

#decimal {
  background-color: #FCF6B1FF;
}