* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  height: 70px;
  width: 80px;
  font-size: larger;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
#calculator {
  border: 3px solid black;
  width: 370px;
  height: fit-content;
  padding: 10px;
  background-color: rgb(238, 248, 250);
  border-radius: 10px;
}

#display {
  border: 2px solid rgb(29, 48, 33);
  border-radius: 10px;
  min-height: 75px;
  padding: 5px;
  background-color: rgb(104, 190, 122);
}

#prevDisplay,
#currentDisplay {
  background-color: rgb(104, 190, 122);
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  font-size: xx-large;
}

#prevDisplay {
    font-size: large;
}
